<div class="side">
  <a href="#" class="close-side">
    <i class="fa fa-times"></i>
  </a>
  <div class="cart-box">
    <ul id="product-list" class="cart-list">
    </ul>
  </div>
  <br />
  <br />
</div>

<script src="~/theway/js/side-cart.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    @{ var cartURL = Url.Action("Index", "Cart");}
    setCartURL('@cartURL');
  });
</script>