<div class="side">
  <a href="#" class="close-side">
    <i class="fa fa-times"></i>
  </a>
  <div class="cart-box">
    <ul id="product-list" class="cart-list">
    </ul>
  </div>
</div>

<script src="~/theway/js/side-cart.js" type="text/javascript">
  console.log(123);
</script>