@model List<thewayshop.ViewModel.TypeGroup>
@{
  var tgs = Model;
}

<li class="dropdown megamenu-fw">
  <a href=@Url.Action("Filter", "Product") class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Product</a>
  <ul class="dropdown-menu megamenu-content" role="menu">
    <li>
      <div class="row">
        @foreach (var tg in tgs)
        {
          <div class="col-menu col-md-3">
            <h6 class="title">@tg.Group.TenNhom</h6>
            <div class="content">
              <ul class="menu-col">
                @foreach (var t in tg.Types)
                {
                  <li>
                    <a href=@Url.Action("Filter", "Product", new {typeId = t.MaLoaiSP})>@t.TenLoaiSP</a>
                  </li>
                }

              </ul>
            </div>
          </div>
        }

      </div>
    </li>
  </ul>
</li>