@model dynamic

@{
  ViewBag.Title = "Welcome";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container d-flex justify-content-center p-5">
  <div class="d-flex flex-column align-items-center">
    <h1>Welcome @Session["user"]!</h1>
    <button id="back-btn" class="btn btn-danger" onclick="window.location = '@Url.Action("Index", "Home")'">Home Page</button>
  </div>
</div>