
@{
  ViewBag.Title = "Checkout";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start All Title Box -->
<div class="all-title-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Checkout</h2>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">Shop</li>
          <li class="breadcrumb-item active">Checkout</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End All Title Box -->
<!-- Cart Start -->
<h2>Checkout</h2>
<!-- Cart End -->
