
@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start All Title Box -->
<div class="all-title-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Cart</h2>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">Shop</li>
          <li class="breadcrumb-item active">Cart</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End All Title Box -->
<!-- Cart Start -->
<br />
<br />
<section id="cart_items">
  <div id="cart_items_container" class="container">
  </div>
</section>
<br />
<br />
<!-- Cart End -->

<script type="text/javascript">
  $(document).ready(function () {
    if (productList.length == 0) appendEmptyCartAlert();
    else {
      // begin
      rows = `
        <div class="cart_info">
          <table class="table ">
            <thead>
              <tr class="cart_menu">
                <td class="image" width="10%"></td>
                <td class="description">Item</td>
                <td class="price text-center">Price</td>
                <td class="quantity text-center">Quantity</td>
                <td class="total text-center">Total</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
      `;

      let total = 0.0;
      productList.forEach(p => {
        total += p.price * p.amount;
        rows += `
          <tr id="row-${p.id}">
          <td class="cart_product">
            <img src="${p.imageURL}" alt="">
          </td>

          <td class="cart_description">
            <h4><a href="${p.productURL}">${p.name}</a></h4>
          </td>

          <td class="cart_price text-center">
            <p>$${p.price.toFixed(2)}</p>
          </td>

          <td class="cart_quantity ">
            <div class="d-flex justify-content-center">
              <div class="cart_quantity_button d-flex align-items-center">
                <a class="cart_quantity_up" href="javascript:;" onclick="increment(${p.id}, ${p.price})"> + </a>
                <input id="amount-input-${p.id}" class="cart_quantity_input" type="number" min="1" value="${p.amount}" disabled="true">
                <a class="cart_quantity_down" href="javascript:;" onclick="decrement(${p.id}, ${p.price})"> - </a>
              </div>
            </div>
          </td>

          <td class="cart_total text-center">
            <p id="cart_total_price-${p.id}"  class="cart_total_price">$${(p.price * p.amount).toFixed(2)}</p>
          </td>

          <td class="cart_delete text-center">
            <a class="cart_quantity_delete" href="javascript:;" onclick="remove(${p.id})"><i class="fa fa-times"></i></a>
          </td>
        </tr>
       `;
      });

      // end
      rows += `
            </tbody>
          </table>
          <div class="d-flex flex-column align-items-end">
            <h1>Total: <span id="all-cost" class="badge badge-light">$${getSum().toFixed(2)}</span></h1>
            <br >
            <a href="@Url.Action("Checkout", "Cart")" class="btn btn-danger">Checkout</a>
          </div>
        </div>
      `;

      $("#cart_items_container").append(rows);
    }
  });

  function increment(id, price) {
    const amount = getAmount(id);
    setAmount(id, amount + 1);
    setTotalCost(id, amount + 1, price);
    increaseProduct(id);
    setAllCost();
  }

  function decrement(id, price) {
    const amount = getAmount(id);
    if (amount == 1) return;
    setAmount(id, amount - 1);
    setTotalCost(id, amount - 1, price);
    decreaseProduct(id);
    setAllCost();
  }

  function remove(id) {
    const res = confirm('Are you sure?');
    if (res) {
      $('#row-' + id).fadeOut();
      removeProduct(id);
      setAllCost();
      if (productList.length == 0) appendEmptyCartAlert();
    }
  }

  function setTotalCost(id, amount, price) {    
    $("#cart_total_price-" + id).text(`$${(amount * price).toFixed(2)}`);
  }

  function setAllCost() {
    $("#all-cost").text(`$${getSum().toFixed(2)}`);
  }

  function getAmount(id) {
    const ref = document.getElementById(`amount-input-${id}`);
    return Number(ref.value);
  }

  function setAmount(id, val) {
    const ref = document.getElementById(`amount-input-${id}`);
    ref.value = val;
  }

  function appendEmptyCartAlert() {
    $("#cart_items_container").html(`
        <div class="alert alert-warning" role="alert" style="text-align:center;font-size: 16px">We're sorry. Your cart is empty!</div>
      `);
  }

</script>

