/** ADD YOUR AWESOME CODES HERE **/

.img-cover {
    object-fit: cover;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.user-selections {
    color: #212121 !important;
}

    .user-selections:hover {
        color: #e53935 !important;
    }


.user-name {
    color: #e53935;
    cursor: pointer;
}


#cart_items .cart_info {
    /*border: 1px solid #d33b33;*/
    margin-bottom: 50px
}



    #cart_items .cart_info .cart_menu {
        background: #d33b33;
        color: #fff;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
    }

    #cart_items .cart_info .table.table-condensed thead tr {
        height: 51px;
    }


    #cart_items .cart_info .table.table-condensed tr {
        border-bottom: 1px solid#F7F7F0
    }

        #cart_items .cart_info .table.table-condensed tr:last-child {
            border-bottom: 0
        }

.cart_info table tr td {
    border-top: 0 none;
    vertical-align: inherit;
    vertical-align: middle;
}


#cart_items .cart_info .image {
    padding-left: 30px;
}


#cart_items .cart_info .cart_description h4 {
    margin-bottom: 0;
    padding: 0;
}

    #cart_items .cart_info .cart_description h4 a {
        color: #363432;
        font-family: 'Roboto',sans-serif;
        font-size: 20px;
        font-weight: normal;
    }

#cart_items .cart_info .cart_description p {
    color: #696763
}


#cart_items .cart_info .cart_price p {
    color: #696763;
    font-size: 18px
}


#cart_items .cart_info .cart_total_price {
    color: #FE980F;
    font-size: 24px;
}

.cart_product img {
    display: block;
    height: 80px;
    max-width: 80px;
}



.cart_quantity_button a {
    background: #F0F0E9;
    color: #696763;
    display: inline-block;
    font-size: 16px;
    height: 28px;
    overflow: hidden;
    text-align: center;
    width: 35px;
    float: left;
}


.cart_quantity_input {
    color: #696763;
    float: left;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    width: 50px;
}


.cart_delete {
    margin-right: -12px;
    overflow: hidden;
}


    .cart_delete a {
        background: #F0F0E9;
        color: #FFFFFF;
        padding: 5px 7px;
        font-size: 16px
    }

    .cart_delete a:hover {
        background: #FE980F
    }


#cart_items .cart_info
.table.table-condensed.total-result tr {
    border-bottom: 0
}

#cart_items .cart_info
.table.table-condensed.total-result span {
    color: #FE980F;
    font-weight: 700;
    font-size: 16px
}

#cart_items .cart_info
.table.table-condensed.total-result
.shipping-cost {
    border-bottom: 1px solid #F7F7F0;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#all-cost {
   font-size: 25px !important;
}