/** ADD YOUR AWESOME CODES HERE **/

.img-cover {
    object-fit: cover;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.user-selections {
    color: #212121 !important;
}

    .user-selections:hover {
        color: #e53935 !important;
    }


.user-name {
    color: #e53935;
    cursor: pointer;
}
